body, html {
    margin: 0;
    scroll-behavior: smooth;
}

/* font stuff */
@font-face {
    font-family: 'Glacial Indifference';
    src: url('../fonts/glacial-indifference/GlacialIndifference-Regular.otf') format("opentype");
}

@font-face {
    font-family: 'Aileron UltraLight';
    src: url('../fonts/aileron/Aileron-UltraLight.otf') format("opentype");
}

/* background images */
.bg {
    width:100%;
    height:100%;
    object-fit: cover;
}

.cars {
    width: 70%;
    height: 100%;
    object-fit: contain;
}

.suv {
    width: 60%;
    height: 105%;
    object-fit: contain;
}

.logos {
    width: 100%;
    height: 110%;
    object-fit: contain;
}

/* navbar list */
.navigation {
    z-index: 10000;
    position: fixed;
    top: 0;
    height: 3em;
    line-height: 3em;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: rgba(20, 20, 20, 0.8);
    overflow: hidden;
}

li {
    display: inline;
}

li a {
    color: white;
    padding: 4%;
    font-size: 1em;
    text-decoration: none;
    font-family: 'Glacial Indifference';
}

li a:hover {
    color: goldenrod;
}

.logo-bpa {
    z-index: 10001;
    height: 45px;
    width: 50px;
    padding-left: 10px;
    padding-top: 5px;
    position: fixed;
}

/* centered text moment */
.center {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

/* first page text over image */
.container1 {
    height: 100vh;
    text-align: left;
    color: white;
    overflow: hidden;
}

.wbw_title {
    position: absolute;
    bottom: 25vmin;
    left: 7%;
    font-size: 12vmin;
    line-height: 1em;
    font-family: Aileron;
    font-weight: bold;
}

.wbw_motto {
    position: absolute;
    bottom: 15vmin;
    left: 7%;
    font-size: 3.5vmin;
    font-family: 'Aileron';
    letter-spacing: 0.7vmin;
}

.trapezoid {
    position: absolute;
    border-bottom: 100vh solid #28251C;
    border-left: 0px solid transparent;
    border-right: 95vmin solid transparent;
    width: 85em;
    opacity: 0.43;
}

/* second page top grid */
.second_title {
    color: #795F43;
    font-size: 5vmin;
    font-family: Aileron;
    font-weight: bold;
    margin-top: 27vh;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    position: absolute;

    width: 100%;
    height: 20vh;
    background: rgba(40, 37, 28, 0.24);
    justify-items: center;
}

.item {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 10vmin;
    height: inherit;
}

.item-img {
    width: 100%;
    object-fit: contain;
    padding-bottom: 3.5vmin;
}

.item-txt {
    position: absolute;
    font-family: Aileron;
    color: white;
    font-size: 2vmin;
    padding-top: 15vmin;
}

/* second page search bar */
.search_form {
    margin-top: 37vh;
    background-color: white;
    border: solid #9B9B9B;
    border-width: 0.5px;
    border-radius: 6px;
    width: 55%;
    height: 5vmin;

    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
}

::placeholder {
    opacity: 0.7;
}

.search_input {
    all: unset;
    font-size: 2vmin;
    font-family: 'Lato';
    height: 100%;
    width: 100%;
    padding: 20px;
}

/* second page filter grid */
.filter {
    width: auto;
    height: auto;
    padding: 0 3em;
    border-radius: 6px;
    background-color: rgba(40, 37, 28, 0.47);
    margin-top: 50vh;
}

.filter_grid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    row-gap: 1em;
    column-gap: 3em;

    justify-items: center;
    margin: 7em 0 3em 0;
}

.filter_title {
    color: white;
    font-family: Aileron, sans-serif;
    font-weight: bold;
    font-size: 3.3vmin;
    margin: 1.2em 0;
    letter-spacing: 1px;
}

.filter_item {
    background-color: white;
    width: 8em;
    height: 3em;
    margin-top: auto;

    border-radius: 4px;
    border-width: 0.5px;
    border-right: 4px solid transparent;

    cursor: pointer;
}

.filter-btn {
    background-color: goldenrod;
    font-family: glacial indifference;
    font-size: 1.2em;
    color: #473E39;
    border: none;
    grid-column: 2 / 3;
    margin-top: 1em;
}

.filter_txt {
    font-family: Glacial Indifference;
    font-size: 1.2em;
    color: #473E39;
    padding-left: 0.5em;
}

.container2 {
    height: 100vh;
    text-align: center;
    color: black;
    overflow: hidden;
}

.container2-black {
    height: 100vh;
    text-align: center;
    background-color: #141414;
    color: white;
    overflow: hidden;
}

.rest_titles {
    font-family: Aileron;
    font-size: 6vmin;
    font-weight: bold;
    margin-top: 10vh;
}

/* fourth + fifth + sixth page buttons */
.button_grid {
    display: grid;
    grid-template-columns: repeat(2, auto);

    justify-items: center;
    align-items: center;
    text-align: center;

    margin-top: 85vmin;
    width: 50%;    
}

.button {
    border-radius: 6px;
    width: 30vmin;
    height: 5.5vmin;
    border: none;

    font-family: Glacial Indifference;
    font-size: 1.2em;
}

.button:hover {
    cursor: pointer;
}

.black {
    background-color: rgba(40, 37, 28, 0.9);
    color: #ECECEC;
}

.grey {
    background-color: rgba(187, 188, 190, 0.9);
    color: black;
}

.white {
    background-color: rgb(255, 255, 255, 0.9);
    color: black;
}

/* footer stuff */
.footer {
    margin: auto auto;
    padding: 0 20%;
    padding-top: 1.5em;
    padding-bottom: 0.5em;
    
    height: auto;

    background-color: black;

    text-align: center;
}

.footer-title {
    color: white;
    font-size: 2em;
    line-height: 38.4px;
    text-decoration: none;
    font-family: 'Aileron UltraLight';
    letter-spacing: 0.05em;
}

.footer-subtitle {
    color: white;
    font-size: 1em;
    text-decoration: none;
    font-family: 'Aileron UltraLight';
    letter-spacing: 0.1em;
    line-height: 2em;
}

.footer-links {
    padding: 1em 0;
    line-height: 0;
}

.footer-link {
    padding: 0 2em;
    color: white;
    font-size: 1em;
    text-decoration: none;
    font-family: 'Glacial Indifference';
}

/* Modal Form CSS */

.req {
    display: inline-block;
    background-color: #E8E8E8;
}

.request_title {
    font-family: aileron-semibold;
    font-size: 1.3em;
    color: #575250;
}

.request_items {
    display: grid;
    justify-content: center;
    padding: 1.5em 0 1em 0;

    grid-template-columns: 80%;
    grid-template-rows: repeat(7, 2.5em);
    row-gap: 1em;
}

.purpose {
    overflow-y: scroll;
    resize: none;
    padding-top: 3%;
    grid-row: span 2;
}

.req_item {
    padding-left: 3%;

    border-radius: 6px;
    border: none;

    font-size: 0.8em;
    font-family: lato;
    letter-spacing: 0.05em;

    overflow: hidden;
}

.request_items > input[type=button] {
    width: 30%;
    color: #D1A42D;
    background-color: white;
    font-size: 1em;
}

.request_items > input[type=button]:hover {
    color: white;
    background-color: #D1A42D;
    cursor: pointer;
}