* {
    margin: 0%;
    padding: 0%;
    scroll-behavior: smooth;
    box-sizing: initial;
}

body, html {
    height: 100%;
}

@font-face {
    font-family: 'Glacial-Indifference';
    src: url('../fonts/glacial-indifference/GlacialIndifference-Regular.otf') format("opentype");
}

@font-face {
    font-family: 'aileron';
    src: url('../fonts/aileron/Aileron-Regular.otf') format("opentype");
}

@font-face {
    font-family: 'aileron';
    src: url('../fonts/aileron/Aileron-Bold.otf') format("opentype");
}

@font-face {
    font-family: 'Aileron-Black';
    src: url('../fonts/aileron/Aileron-Black.otf') format("opentype");
}

@font-face {
    font-family: 'Aileron-SemiBold';
    src: url('../fonts/aileron/Aileron-SemiBold.otf') format("opentype");
}

@font-face {
    font-family: 'Aileron-Light';
    src: url('../fonts/aileron/Aileron-Light.otf') format("opentype");
}

@font-face {
    font-family: 'Aileron-UltraLight';
    src: url('../fonts/aileron/Aileron-UltraLight.otf') format("opentype");
}

@font-face {
    font-family: 'Lato-Black';
    src: url('../fonts/lato/Lato-Black.ttf') format("opentype");
}

@font-face {
    font-family: 'Lato-Regular';
    src: url('../fonts/lato/Lato-Regular.ttf') format("opentype");
}

.bg {
    /* Full height */
    width: 100%;
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;

    overflow: hidden;
}

.bg-small {
    /* Half height */
    width: 100%;
    height: 60%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* overflow: hidden; */
    overflow: hidden;
}

.navbar1 {
    z-index: 10000;
    position: fixed;
    top: 0;
    height: 3em;
    line-height: 3em;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: rgba(20, 20, 20, 0.8);
    overflow: hidden;
}

li {
    display: inline;
}

li a {
    color: white;
    padding: 4%;
    font-size: 1em;
    text-decoration: none;
    font-family: 'Glacial-Indifference';
}

li a:hover {
    color: goldenrod;
}

.logo1 {
    z-index: 10001;
    height: 40px;
    width: 40px;
    margin-left: 2vmin;
    margin-top: 0.4vmin;
    position: fixed;
}

.main-link {
    padding-left: 20px;
    padding-right: 20px;

    color: rgb(255, 255, 255);
    font-size: 1em;
    text-decoration: none;
    font-family: 'Glacial-Indifference';
}

li a:hover {
    color: goldenrod;
}

.opaque-overlay {
    position: relative;
    overflow: hidden;
    transform: rotate(315deg);

    height: auto;
    width: 80%;

    top: 20%;
    margin-right: auto;
}

h1.centered-text {
    position: absolute;

    font-size: 6em;
    font-family: 'Aileron-SemiBold';
    color: white;
    text-align: center;
    margin: 0%;

    width: 100%;
    height: 10%;

    top: 25%;
}

.banner-subtitle {
    margin: 3% auto;
    font-size: 0.3em;
    font-family: 'Aileron-Ultralight';
    color: white;
    letter-spacing: 0.1em;
}

.page-nav {
    padding: 2% 0 0 0;

    background-color: white;
    text-align: center;
}

.page-nav-link {
    color: black;
    padding: 30px;
    font-size: 1.1em;
    text-decoration: none;
    font-family: 'Glacial-Indifference';
}

hr.black-divider {
    width: 60%;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
}

hr.white-divider {
    height: 2px;
    width: 90%;
    color: white;
    background-color: white;
    margin: 0 auto;
    margin-bottom: 1%;
}

.subtitle {
    padding-top: 3%;
    padding-bottom: 3%;

    background-color: rgb(217, 217, 217);
    text-align: center;

    height: auto;
    width: 100%;
}

.subtitle-value {
    padding-top: 3%;

    background-color: rgb(0, 0, 0);
    text-align: center;

    height: auto;
    width: 100%;
}

h1.centered-subheading {
    font-size: 3em;
    font-family: 'Lato-Black';
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 0%;

    width: 100%;
    height: auto;

    top: 25%;
}

h1.value-subheading {
    font-size: 3em;
    font-family: 'Lato-Black';
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 0%;

    width: 100%;
    height: auto;

    top: 25%;
}

.flex-container {
    display: flex;
    flex-direction: row;

    height: auto;
    padding: 0 5%;
}

.flex-child {
    flex: 1;
    margin: 0 auto;
}

.thirds {
    max-width: 20em;
}

.thirds > h3 {
    padding-top: 1.2em;
    color: black;
    font-size: 1.8em;
    text-decoration: none;
    font-family: 'Aileron-Black';

    text-align: center;
}

p.black {
    margin: 2em auto;
    padding: 0%;

    color: black;
    font-size: 1em;
    text-decoration: none;
    font-family: 'Lato-Regular';
    line-height: 1.4em;

    text-align: center;
}

h2 {
    padding-top: 1.5em;
    padding-bottom: 1em;

    color: white;
    font-size: 2.2em;
    font-family: aileron;
    font-weight: bold;
    
    text-align: center;
}

h2.value {
    padding-top: 2em;

    color: white;
    font-size: 2em;
    text-decoration: none;
    font-family: 'Lato-Regular';

    text-align: center;
}

.panel-three {
    background-color: black;
    text-align: center;
    padding-bottom: 2em;
}

h3.vin-heading{
    font-size: 1.5em;
    font-family: 'Lato-Black';
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 0%;

    width: 100%;
    height: 5%;

    top: 25%;
}

label > h4 {
    padding-top: 2em;

    color: white;
    font-size: 1.2em;
    text-decoration: none;
    font-family: 'Aileron-UltraLight';

    text-align: center;
}

.centered-h4 {
    margin: 5% auto;

    color: white;
    font-size: 1.2em;
    text-decoration: none;
    font-family: 'Aileron-UltraLight';

    text-align: center;
}

.input-box {
    height: 3em;
    width: 100%;
    border-radius: 0.75em;
    border: 0;
    padding-left: 1em;
    margin-bottom: 8%;
    
    font-size: 1em;
    font-family: lato-regular;
}

.vin-number > input[type=button] {
    width: 60%;
    margin-top: 10%;
    padding-left: 0;
    color: #D1A42D;
    background-color: white;
    font-size: 1em;
}

.vin-number > input[type=button]:hover {
    color: white;
    background-color: #D1A42D;
    cursor: pointer;
}

.panel-four {
    background-color: white;
    height: auto;
    width: 100%;
}

.title {
    text-align: center;
    font-family: aileron-semibold;
    color:rgb(0, 0, 0);
    font-size: 2.2em;
    line-height: 2.2em;
}

.request_form {
    display: flex;

    width: auto;
    height: 100%;
    padding: 0 2em;
    padding-bottom: 3em;
    text-align: center;
    font-family: lato-regular;

    justify-content: center;
}

.partner_img {
    height: 500px;
}

.req {
    display: inline-block;
    width: 35%;
    background-color: #E8E8E8;
    padding: 2em 0.8em 0 0.8em;
    margin-right: 3em;
}

.request_title {
    font-family: aileron-semibold;
    font-size: 1.3em;
    color: #575250;
}

.request_items {
    display: grid;
    justify-content: center;
    padding: 1.5em 0 1em 0;

    grid-template-columns: 80%;
    grid-template-rows: repeat(7, 2.5em);
    row-gap: 1em;
}

.purpose {
    overflow-y: scroll;
    resize: none;
    padding-top: 3%;
    grid-row: span 2;
}

.req_item {
    padding-left: 3%;

    border-radius: 6px;
    border: none;

    font-size: 0.8em;
    font-family: lato-regular;
    letter-spacing: 0.05em;

    overflow: hidden;
}

.request_items > input[type=button] {
    width: 30%;
    color: #D1A42D;
    background-color: white;
    font-size: 1em;
}

.request_items > input[type=button]:hover {
    color: white;
    background-color: #D1A42D;
    cursor: pointer;
}

.faq-title {
    margin: 0 0;
    padding: 1% 0;

    color: black;
    font-size: 1.8em;
    text-decoration: none;
    font-family: 'Aileron-Black';
}

.accordion-button {
    width: 95%;
}

.footer {
    margin: auto auto;
    padding: 0 20%;
    padding-top: 1.5em;
    padding-bottom: 1em;
    height: auto;

    background-color: black;

    text-align: center;
}

.footer-title {
    margin-bottom: 0.5em;

    color: white;
    font-size: 2em;
    text-decoration: none;
    font-family: 'Aileron-UltraLight';
    letter-spacing: 0.05em;
}

.footer-subtitle {
    color: white;
    font-size: 1em;
    text-decoration: none;
    font-family: 'Aileron-UltraLight';
    letter-spacing: 0.1em;
    line-height: 2em;
}

.footer-links {
    padding: 1em 0;
}

.footer-link {
    padding: 0 2em;

    color: white;
    font-size: 1em;
    text-decoration: none;
    font-family: 'Glacial-Indifference';
}